
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary-color: #2563eb;
  --d: 2500ms;
  --angle: 90deg;
  --gradX: 100%;
  --gradY: 50%;
  --c1: rgba(168, 239, 255, 1);
  --c2: rgba(168, 239, 255, 0.1);
  --c4: rgba(68, 205, 123, 0.01);
  --c5: rgba(68, 205, 123, 0.863);
  --c6: rgba(68, 205, 123, 0.01);
}


* {
  box-sizing: border-box;
}

/* .card-container {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  margin: 0rem;
  overflow: hidden;  
  font-family: "Montserrat", sans-serif;
} */

.card {
  height: auto;
  position: relative;
  /* background-color: rgb(16 16 16); */
  border: 1px solid rgba(137, 137, 137, 0.2);
  border-radius: 1.5rem;
  padding: 1rem;
}

.card:after {  
  content: "";
  /* height: 70px;
  width: 1.5px;   */
  width: 120px;
  height: 1.5px;  
  position: absolute;  
  top: -1.5px;
  right: 65%;
  transition: right, opacity;
  transition-duration: 800ms;
  transition-timing-function: ease;
  /* background: linear-gradient(
    transparent,
    var(--primary-color),
    transparent
  ); */
  background: linear-gradient(
    to right,
    var(--c4),
    var(--c5),
    var(--c6)
  );
  opacity: 0;
}

.card:after {  
  right: 65%;
  opacity: 0;
}

.card:hover:after {
  right: 15%;
  opacity: 1;
}


@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}





.tube{
  height: 400px;
  width: 45px;
  background: linear-gradient(#4ade80 0%, #22c55e 10%, #16a34a 50%, #189d49 100%);
  border-radius: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.tubeBlue{
  height: 400px;
  width: 45px;
  background: linear-gradient(#38bdf8 0%, #0ea5e9 10%, #0284c7 50%, #0369a1 100%);
  border-radius: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}


.tube::before{
  content: "";
  height: 360px;
  width: 30px;
  background: linear-gradient(#2cea72 0%, #22c55e 60%, #19a74d 100%);
  border-radius: 0%;
  filter: blur(8px);
}


.tube:after {
  content: "";
  height: 400px;
  width: 25px;
  background: linear-gradient(transparent 0%, #70f8a2 60%, transparent 100%);
  border-radius: 0%;
  filter: blur(8px);
  position: absolute;
  bottom: 3.5px;
  bottom: 100%;
  z-index: 10;
  animation: tube-animation 3s linear infinite;
}

@keyframes tube-animation {
  0% {
    bottom: 100%;
  }
  100% {
    bottom: -100%;
  }
}


.tubeBlue::before{
  content: "";
  height: 360px;
  width: 30px;
  background: linear-gradient(#46bff2 0%, #219cd1 60%, #1779a2 100%);
  border-radius: 0%;
  filter: blur(8px);
}

.tubeBlue:after {
  content: "";
  height: 360px;
  width: 30px;
  background: linear-gradient(transparent 0%, #8cddff 50%,transparent 100%);
  border-radius: 0%;
  filter: blur(8px);
  position: absolute;
  top: 3.5px;
  top: 100%;
  z-index: 10;
  animation: tube-animationBlue 3s linear infinite;
}

@keyframes tube-animationBlue {
  0% {
    top: 100%;
  }
  100% {
    top: -100%;
  }
}















/* :root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
